* text=auto
.gitattributes text eol=lf
*.sh text eol=lf
PKGBUILD text eol=lf
*.install text eol=lf
*.conf text eol=lf
*.colors text eol=lf
*.cpp text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.desktop text eol=lf
*.desc text eol=lf
*.qml text eol=lf
*.svg text eol=lf
*.jsonc text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.ps1 text eol=lf
overlay/airootfs/usr/local/bin/* text eol=lf
overlay/airootfs/root/customize_airootfs.sh text eol=lf
overlay/airootfs/etc/skel/.config/kdeglobals text eol=lf
overlay/airootfs/etc/skel/.config/plasma-org.kde.plasma.desktop-appletsrc text eol=lf
